<div class="slider-container">
    <div class="image-container">
       {% for slide in settings.block %}
    <div class="image-title">
        {% if slide.slide_title %}
            {{ slide.slide_title }}
        {% else %}
            No Title Available
        {% endif %}
    </div>

    <div class="slider-image">
        {% if slide.slide_image %}
            <img src="https://cdn.shopify.com/s/files/1/0830/0894/6491/files/abou-new-02.jpg?v=1695310986">
        {% else %}
            <p>No Image Available</p>
        {% endif %}
    </div>
{% endfor %}

    </div>

    <div class="slider-next">Next</div>
    <div class="slider-prev">Prev</div>
</div>

<script>
    $('.slider-container').slick({
      dots: false,
      infinite: true,
      speed: 300,
      slidesToShow: 5,
      slidesToScroll: 5,
      nextArrow:$('.slider-next'),
      prevArrow:$('.slider-prev'),
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3,
            infinite: true,
            dots: false
  
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
      ]
    });
  </script>

{% schema %}
{
  "name": "Slideshow",
  "tag": "section",
  "class": "slideshow",
  "max_blocks": 5,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Slideshow"
    }
  ],
  "blocks": [
     {
       "name": "Slide",
       "type": "slide",
       "settings": [
         {
           "type": "image_picker",
           "id": "slide_image",
           "label": "Image"
         }, 
         {
            "type": "text",
            "id":"slide_title",
            "label":"Title"
         }
       ]
     }
   ],
  "presets": [
     {
       "name": "Slideshow-s",
       "settings": {
          "title": "Slideshow-s"
        },
       "blocks": [
         {
           "type": "slide"
         },
         {
           "type": "slide"
         }
       ]
     }
   ]
}
{% endschema %}